{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-8">
    <h2>{% block title %}Transport: {{ transport.carrier.get_username }}{% endblock title %}</h2>
  </div>

  <div class="col-4 text-right mt-auto">
    {% if transport.carrier.id == user.id %}
    <button type="button" class="btn btn-success disabled" id="start-button">
      <span class="badge badge-secondary badge-pill mr-1"><i class="fa fa-rocket"></i></span>
      <span class="d-none d-md-inline">Start</span>
    </button>
    <a href="{% url 'transport:update' transport.id %}">
      <button type="button" class="btn btn-primary">
        <span class="badge badge-secondary badge-pill mr-1"><i class="fa fa-edit"></i></span>
        <span class="d-none d-md-inline">Transport</span>
      </button>
    </a>
    <a href="{% url 'transport:delete' transport.id %}">
      <button type="button" class="btn btn-primary">
        <span class="badge badge-secondary badge-pill mr-1"><i class="fa fa-trash"></i></span>
        <span class="d-none d-md-inline">Transport</span>
      </button>
    </a>
    {% elif user.transport_profile.passenger %}
    <button type="button" class="btn btn-success" id="join-button">
      <span class="badge badge-secondary badge-pill mr-1"><i class="fa fa-car"></i></span>
      <span class="d-none d-md-inline">Reserve</span>
    </button>
    {% endif %}
  </div>
</div>

<div class="row pt-1">
  <div class="col">
    {% for passenger in transport.passengers.all %}
    <a href="{% url 'core:profile' passenger.id %}">
      <span class="badge badge-success">
        {{ passenger.get_username }}
      </span>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock content %}
