{% extends 'core/base.html' %}

{% block content %}

<div class="row">
  <div class="col-4">
    <h2>{% block title %}Transports{% endblock title %}</h2>
  </div>
  <div class="col-8 text-right mt-auto">
    <a href="{% url 'transport:search' %}">
      <button type="button" class="btn btn-primary">
        <span class="badge badge-info badge-pill mr-1"><i class="fa fa-search"></i></span>
        Search
      </button>
    </a>
    {% if user.transport_profile.carrier %}
    <a href="{% url 'transport:create' %}">
      <button type="button" class="btn btn-primary">
        <span class="badge badge-success badge-pill mr-1"><i class="fa fa-plus"></i></span>
        Transport
      </button>
    </a>
    {% endif %}
  </div>
</div>

<div class="list-group">
  {% for transport in object_list %}
  {% include "transport/list.html" %}
  {% empty %}
  <div class="row mt-5">
    <div class="col">
      <h4>No transports available - create one!</h4>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
