{% extends 'core/base.html' %}

{% block content %}

<h2>Web Apps</h2>

<ul>
  <li><a href="{% url 'todo:index' %}">To-do List</a></li>
  {% if user.is_authenticated %}
    <li><a href="{% url 'doodle:index' %}">Doodle (game)</a></li>
    <li><a href="{% url 'ludo:index' %}">Ludo (game)</a></li>
    <li><a href="{% url 'transport:index' %}">Transporter</a></li>
    <li><a href="{% url 'core:logout' %}">Logout ({{ user.username }})</a></li>
  {% else %}
    <li><a href="{% url 'core:login' %}">Login</a></li>
    <li><a href="{% url 'core:register' %}">Register</a></li>
  {% endif %}
</ul>

{% endblock content %}
