{% extends 'core/base.html' %}

{% block content %}

<h2>To-do List</h2>

<h4><a href="/">Back</a></h4>

<p>Todo list!</p>

<a href="">Add List</a>

{% for list in lists %}
  <ul>
    <li>{{ list.id }} - {{ list }} (<a href="">Add Task</a>, <a href="">Edit Tag(s)</a>, <a href="">Edit List</a>, <a href="">Delete List</a>)</li>
    <ul>
    {% for task in tasks %}
      {% if task.list.id == list.id %}
        <li>{{ task.id }} - {{ task }} (<a href="">Edit Tag(s)</a>, <a href="">Edit Task</a>, <a href="">Delete Task</a>)</li>
      {% endif %}
    {% endfor %}
    </ul>
  </ul>
{% empty %}
<p>No todo lists are available.</p>
{% endfor %}

{% endblock content %}
