{% extends 'core/base.html' %}

{% block content %}

<a href="{% url 'todo:list-create' %}">Add List</a>
{% for list in lists %}
  <ul>
    <li>{{ list.id }} - {{ list }} (<a href="{% url 'todo:task-create' %}">Add Task</a>, <a href="{% url 'todo:list-update' list.pk %}">Edit List</a>, <a href="{% url 'todo:list-delete' list.pk %}">Delete List</a>)</li>
    <ul>
    {% for task in tasks %}
      {% if task.list.id == list.id %}
      <li>{{ task.id }} - {{ task }} (<a href="{% url 'todo:task-update' task.id %}">Edit Task</a>, <a href="{% url 'todo:task-delete' task.id %}">Delete Task</a>)</li>
      {% endif %}
    {% endfor %}
    </ul>
  </ul>
{% empty %}
  <p>No todo lists are available.</p>
{% endfor %}

<a href="{% url 'todo:tag-create' %}">Add Tag</a>
{% for tag in tags %}
  <ul>
    <li>{{ tag.id }} - {{ tag }} (<a href="{% url 'todo:tag-update' tag.id %}">Edit Tag</a>, <a href="{% url 'todo:tag-delete' tag.id %}">Delete Tag</a>)</li>
  </ul>
{% empty %}
  <p>No tags are available.</p>
{% endfor %}

{% endblock content %}
