{% extends 'core/base.html' %}

{% block content %}

<div class="row">
  <div class="col-4">
    <h2>{% block title %}Todo{% endblock title %}</h2>
  </div>
  <div class="col-8 text-right mt-auto">
    <a href="{% url 'todo:list-create' %}">
      <button type="button" class="btn btn-info">
        <span class="badge badge-success badge-pill mr-1"><i class="fa fa-plus"></i></span>
        List
      </button>
    </a>
    <a href="{% url 'todo:tag-create' %}">
      <button type="button" class="btn btn-primary">
        <span class="badge badge-success badge-pill mr-1"><i class="fa fa-plus"></i></span>
        Tag
      </button>
    </a>
  </div>
</div>

<ul class="list-group">
  {% for list in lists %}
  <li class="list-group-item d-flex justify-content-between align-items-center border border-info rounded-0 bg-primary mt-2">
    <div class="text-left">
      <a href="#" class="btn p-0 {% if not list.task_set.all %}disabled{% endif %}" data-toggle="collapse" data-target="#list-{{ list.id }}" aria-expanded="false" aria-controls="list-{{ list.id }}">
        <i class="fa fa-chevron-down collapse-open mr-2"></i>
        <i class="fa fa-chevron-right collapse-closed mr-2"></i>
        <span class="badge badge-secondary badge-pill mr-2">{{ list.task_set.count }}</span>
        <span class="pr-2">{{ list.name }}</span>
      </a>

      {% for tag in list.tags.all %}
      <span class="badge" style="background-color:{{ tag.color }}">
        <a href="{% url 'todo:tag-update' tag.pk %}" class="visible-color">
          {{ tag.name }}
        </a>
        <a href="{% url 'todo:tag-delete' tag.pk %}">
          <i class="fa fa-times"></i>
        </a>
      </span>
      {% endfor %}
    </div>
    <div class="text-right">
      <a class="badge badge-success badge-pill mr-3" href="{% url 'todo:task-create' list.pk %}"><i class="fa fa-plus"></i>
        <span class="d-none d-sm-inline">Task</span>
      </a>
      <a class="badge badge-info badge-pill" href="{% url 'todo:list-update' list.pk %}"><i class="fa fa-pencil"></i></a>
      <a class="badge badge-secondary badge-pill" href="{% url 'todo:list-delete' list.pk %}"><i class="fa fa-trash"></i></a>
    </div>
  </li>

  <ul class="list-group mx-2 collapse" id="list-{{ list.id }}">
    {% for task in list.task_set.all %}
    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 mt-1 bg-primary {% if task.remind %}border-1 border-danger{% else %}border-0{% endif %}">
      <div class="col text-left pl-0">
        <span class="form-check float-left mr-2">
          <form method="post" action="">
            {% csrf_token %}
            <input class="form-check-input position-static" type="checkbox" {% if task.completed %}checked{% endif %}>
          </form>
        </span>
        <span class="pr-2">{{ task.name }}</span>
        {% for tag in task.tags.all %}
        <span class="badge" style="background-color:{{ tag.color }}">
          <a href="{% url 'todo:tag-update' tag.pk %}" class="visible-color">
            {{ tag.name }}
          </a>
          <a href="{% url 'todo:tag-delete' tag.pk %}">
            <i class="fa fa-times"></i>
          </a>
        </span>
        {% endfor %}
      </div>
      <div class="col text-center">
        {{ task.deadline }}
        {% if task.remind %}
        <span class="badge badge-danger ml-1">
          <i class="fa fa-warning"></i> ({{ task.time_to_deadline }} left)
        </span>
        {% endif %}
      </div>
      <div class="col text-right">
        <a class="badge badge-info badge-pill" href="{% url 'todo:task-update' task.pk %}"><i class="fa fa-pencil"></i></a>
        <a class="badge badge-secondary badge-pill" href="{% url 'todo:task-delete' task.pk %}"><i class="fa fa-trash"></i></a>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% empty %}
  <p>No lists available!</p>
  {% endfor %}
</ul>

{% endblock content %}
