h1, h2 {
    margin: 15px 0px 15px 0px;
}

.badge {
    font-size: 85%;
}

.btn-success {
    background-color: #009966;
    border-color: #009966;
}
.btn-success:hover {
    background-color: #006d51;
    border-color: #006d51;
}
.btn-info {
    background-color: #2384c5;
    border-color: #2384c5;
}
.btn-info:hover {
    background-color: #1a6393;
    border-color: #1a6393;
}

.badge-success {
    background-color: #009966;
}
a.badge-success:hover {
    background-color: #006d51;
}
.badge-info {
    background-color: #2384c5;
}
a.badge-info:hover {
    background-color: #1a6393;
}

@media (min-width: 768px) {
    .form-control {
        width: unset;
    }
}

/* Collapse open/close show/hide element (caret) */
a[aria-expanded=true] .collapse-closed {
    display: none;
}
a[aria-expanded=false] .collapse-open {
    display: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.btn.no-focus:focus {
    box-shadow: none;
}
