h1, h2 {
    margin: 15px 0px 15px 0px;
}

.badge {
    font-size: 85%;
}

/* Collapse open/close show/hide element (caret) */
a[aria-expanded=true] .collapse-closed {
    display: none;
}
a[aria-expanded=false] .collapse-open {
    display: none;
}
