{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'ludo/room.css' %}">
{% endblock css %}

{% block content %}

<audio id="audio-win">
  <source src="{% static 'core/assets/sound_win.mp3' %}" type="audio/mpeg">
</audio>

<div class="row">
  <div class="col-8">
    <h2>{% block title %}Ludo: {{ room.name }}{% endblock title %}</h2>
  </div>

  {% if room.owner.id == user.id %}
  <div class="col-4 text-right mt-auto">
    <a href="{% url 'ludo:room-delete' room.id %}">
      <button type="button" class="btn btn-primary">
        <span class="badge badge-secondary badge-pill mr-1"><i class="fa fa-trash"></i></span>
        <span class="d-none d-md-inline">Room</span>
      </button>
    </a>
  </div>
  {% endif %}
</div>

<div class="row mt-2">
  <div class="col-8">
    <button type="button" class="btn btn-primary" id="roll-button">
      <span class="badge badge-secondary badge-pill mr-1"><i class="fa fa-soccer-ball-o"></i></span>
      <span class="d-none d-md-inline">Roll</span>
    </button>
    {% for i in '1234'|make_list %}
    <button type="button" class="btn btn-primary disabled" id="move-t{{ forloop.counter }}-button">
      <span class="badge badge-secondary badge-pill mr-1"><i class="fa fa-share"></i></span>
      <span class="d-none d-lg-inline">Move </span>{{ forloop.counter }}
    </button>
    {% endfor %}
  </div>

  <div class="col-4 text-right my-auto" id="user-list">
    {% for user in room.users.all %}
    <a href="{% url 'core:profile' user.id %}" id="user-{{ user.id }}">
      <span class="badge badge-success">
        {{ user.get_username }}
      </span>
    </a>
    {% endfor %}
  </div>
</div>

<div class="row pt-2">
  <div class="col-8 pr-0" id="board">
    <div class="board-row">
      <div class="board-box" id="b-blue-1">
        <div class="board-cell">B1</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="b-blue-2">
        <div class="board-cell">B2</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box" id="f-1">
        <div class="board-cell">1</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-2">
        <div class="board-cell">2</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-3">
        <div class="board-cell" id="e-red">&#x2b07;</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box" id="b-red-1">
        <div class="board-cell">B1</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="b-red-2">
        <div class="board-cell">B2</div>
        <div class="board-overlay"></div>
      </div>
    </div>
    <div class="board-row">
      <div class="board-box" id="b-blue-3">
        <div class="board-cell">B3</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="b-blue-4">
        <div class="board-cell">B4</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box" id="f-40">
        <div class="board-cell">40</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-red-1">
        <div class="board-cell">H1</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-4">
        <div class="board-cell">4</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box" id="b-red-3">
        <div class="board-cell">B3</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="b-red-4">
        <div class="board-cell">B4</div>
        <div class="board-overlay"></div>
      </div>
    </div>
    <div class="board-row">
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box" id="f-39">
        <div class="board-cell">39</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-red-2">
        <div class="board-cell">H2</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-5">
        <div class="board-cell">5</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
    </div>
    <div class="board-row">
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box" id="f-38">
        <div class="board-cell">38</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-red-3">
        <div class="board-cell">H3</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-6">
        <div class="board-cell">6</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
    </div>
    <div class="board-row">
      <div class="board-box" id="f-33">
        <div class="board-cell" id="e-blue">&#x27a1;</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-34">
        <div class="board-cell">34</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-35">
        <div class="board-cell">35</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-36">
        <div class="board-cell">36</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-37">
        <div class="board-cell">37</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-red-4">
        <div class="board-cell">H4</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-7">
        <div class="board-cell">7</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-8">
        <div class="board-cell">8</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-9">
        <div class="board-cell">9</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-10">
        <div class="board-cell">10</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-11">
        <div class="board-cell">11</div>
        <div class="board-overlay"></div>
      </div>
    </div>
    <div class="board-row">
      <div class="board-box" id="f-32">
        <div class="board-cell">32</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-blue-1">
        <div class="board-cell">H1</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-blue-2">
        <div class="board-cell">H2</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-blue-3">
        <div class="board-cell">H3</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-blue-4">
        <div class="board-cell">H4</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box"></div>
      <div class="board-box" id="h-green-4">
        <div class="board-cell">H4</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-green-3">
        <div class="board-cell">H3</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-green-2">
        <div class="board-cell">H2</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-green-1">
        <div class="board-cell">H1</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-12">
        <div class="board-cell">12</div>
        <div class="board-overlay"></div>
      </div>
    </div>
    <div class="board-row">
      <div class="board-box" id="f-31">
        <div class="board-cell">31</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-30">
        <div class="board-cell">30</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-29">
        <div class="board-cell">29</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-28">
        <div class="board-cell">28</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-27">
        <div class="board-cell">27</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-yellow-4">
        <div class="board-cell">H4</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-17">
        <div class="board-cell">17</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-16">
        <div class="board-cell">16</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-15">
        <div class="board-cell">15</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-14">
        <div class="board-cell">14</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-13">
        <div class="board-cell" id="e-green">&#x2b05;</div>
        <div class="board-overlay"></div>
      </div>
    </div>
    <div class="board-row">
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box" id="f-26">
        <div class="board-cell">26</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-yellow-3">
        <div class="board-cell">H3</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-18">
        <div class="board-cell">18</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
    </div>
    <div class="board-row">
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box" id="f-25">
        <div class="board-cell">25</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-yellow-2">
        <div class="board-cell">H2</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-19">
        <div class="board-cell">19</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box"></div>
    </div>
    <div class="board-row">
      <div class="board-box" id="b-yellow-1">
        <div class="board-cell">B1</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="b-yellow-2">
        <div class="board-cell">B2</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box" id="f-24">
        <div class="board-cell">24</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="h-yellow-1">
        <div class="board-cell">H1</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-20">
        <div class="board-cell">20</div>
        <div class="board-overlay"></div>
    </div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box" id="b-green-1">
        <div class="board-cell">B1</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="b-green-2">
        <div class="board-cell">B2</div>
        <div class="board-overlay"></div>
      </div>
    </div>
    <div class="board-row">
      <div class="board-box" id="b-yellow-3">
        <div class="board-cell">B3</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="b-yellow-4">
        <div class="board-cell">B4</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box" id="f-23">
        <div class="board-cell" id="e-yellow">&#x2b06;</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-22">
        <div class="board-cell">22</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="f-21">
        <div class="board-cell">21</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box"></div>
      <div class="board-box"></div>
      <div class="board-box" id="b-green-3">
        <div class="board-cell">B3</div>
        <div class="board-overlay"></div>
      </div>
      <div class="board-box" id="b-green-4">
        <div class="board-cell">B4</div>
        <div class="board-overlay"></div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <textarea class="form-control" id="log" readonly autocomplete="off"></textarea>
  </div>
</div>

{% endblock content %}

{% block js %}
{{ room.id|json_script:"room-id" }}

<script src="{% static 'ludo/room.js' %}"></script>
<script src="{% static 'ludo/game.js' %}"></script>
{% endblock js %}
