{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-4">
    <h2>{% block title %}Doodle{% endblock title %}</h2>
  </div>
  <div class="col-8 text-right mt-auto">
    <a href="{% url 'doodle:room-create' %}">
      <button type="button" class="btn btn-primary">
        <span class="badge badge-success badge-pill mr-1"><i class="fa fa-plus"></i></span>
        Room
      </button>
    </a>
  </div>
</div>

{% include 'room/index.html' %}

{% endblock content %}

{% block js %}
<script src="{% static 'doodle/game.js' %}"></script>
{% endblock js %}
