{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'doodle/room.css' %}">
{% endblock css %}

{% block content %}

<h2>{% block title %}Doodle: {{ room }}{% endblock title %}</h2>

<div class="row">
  <div class="col-9">
    <canvas id="canvas" width="300" height="150"></canvas>
  </div>

  <div class="col-3">
    <div class="row h-75">
      <div class="col">
        <textarea readonly class="form-control" id="chat-log"></textarea>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-8 pr-1">
        <input class="form-control w-100" id="chat-input" type="text">
      </div>
      <div class="col-4 px-0">
        <button id="chat-submit" type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
{{ room.name|json_script:"room-name" }}

<script src="{% static 'doodle/room.js' %}"></script>
<script src="{% static 'doodle/game.js' %}"></script>
{% endblock js %}
