{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'doodle/room.css' %}">
{% endblock css %}

{% block content %}

<div class="row">
  <div class="col-8">
    <h2>{% block title %}Doodle: {{ room }}{% endblock title %}</h2>
  </div>

  {% if room.owner.id == user.id %}
  <div class="col-4 text-right mt-auto">
    <button type="button" class="btn btn-success disabled" id="start-button">
      <span class="badge badge-secondary badge-pill mr-1"><i class="fa fa-rocket"></i></span>
      Start
    </button>
    <a href="{% url 'doodle:room-delete' room.id %}">
      <button type="button" class="btn btn-primary">
        <span class="badge badge-secondary badge-pill mr-1"><i class="fa fa-trash"></i></span>
        Room
      </button>
    </a>
  </div>
  {% endif %}
</div>

<div class="row mt-2">
  <div class="col-9">
    <div class="row">
      <div class="col">
        <canvas id="canvas" width="600" height="200"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col" id="user-list">
        {% for user in room.users.all %}
        <a href="{% url 'core:profile' user.id %}" id="user-{{ user.id }}">
          <span class="badge badge-success">
            {{ user.username }}
          </span>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="row h-100">
      <div class="col">
        <textarea class="form-control" id="chat-log" readonly autocomplete="off"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul id="user-list">
        </ul>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-8 pr-1">
        <input class="form-control w-100" id="chat-input" type="text">
      </div>
      <div class="col-4 px-0">
        <button id="chat-submit" type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
{{ room.id|json_script:"room-id" }}

<script src="{% static 'doodle/room.js' %}"></script>
<script src="{% static 'doodle/game.js' %}"></script>
{% endblock js %}
