{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'doodle/room.css' %}">
{% endblock css %}

{% block content %}

<audio id="audio-win">
  <source src="{% static 'doodle/assets/sound_win.mp3' %}" type="audio/mpeg">
</audio>

<div class="row">
  <div class="col-8">
    <h2>{% block title %}Doodle: {{ room.name }}{% endblock title %}</h2>
  </div>

  {% if room.owner.id == user.id %}
  <div class="col-4 text-right mt-auto">
    <button type="button" class="btn btn-success disabled" id="start-button">
      <span class="badge badge-secondary badge-pill mr-1"><i class="fa fa-rocket"></i></span>
      <span class="d-none d-md-inline">Start</span>
    </button>
    <a href="{% url 'doodle:room-delete' room.id %}">
      <button type="button" class="btn btn-primary">
        <span class="badge badge-secondary badge-pill mr-1"><i class="fa fa-trash"></i></span>
        <span class="d-none d-md-inline">Room</span>
      </button>
    </a>
  </div>
  {% endif %}
</div>

<div class="row mt-2">
  <div class="col-8">
    <canvas id="canvas"></canvas>
  </div>
  <div class="col-4">
    <textarea class="form-control" id="chat-log" readonly autocomplete="off"></textarea>
  </div>
</div>

<div class="row pt-1">
  <div class="col-8 text-right my-auto" id="user-list">
    {% for user in room.users.all %}
    <a href="{% url 'core:profile' user.id %}" id="user-{{ user.id }}">
      <span class="badge badge-success">
        {{ user.get_username }}
      </span>
    </a>
    {% endfor %}
  </div>

  <div class="col-3 pr-0">
    <input class="form-control w-100" id="chat-input" type="text">
  </div>
  <div class="col d-block">
    <button id="chat-submit" type="submit" class="btn btn-primary btn-block">Send</button>
  </div>
</div>

{% endblock content %}

{% block js %}
{{ room.id|json_script:"room-id" }}

<script src="{% static 'doodle/room.js' %}"></script>
<script src="{% static 'doodle/game.js' %}"></script>
{% endblock js %}
